{% extends "base.html" %}

{% block head %}
<style>
  nav#header {
    display: block;
    margin-bottom: 1.5em;
  }
  nav#header h1 {
      margin-bottom: 0;
  }

  .toc {
    border: 2pt solid gray;
    width: fit-content;
    padding: 0.5em;
  }
  .toc li {
    list-style-position: inside;
  }

  summary.details-empty {
    pointer-events: none;
  }
  summary.details-empty::after {
    display: none;
  }
</style>
{% endblock %}

{% block title %}
Trawl {{title}}
{% endblock %}

{% block content %}
<main class="container">
  <nav id="header">
    <h1>Trawl for {{title}}</h1>

    <a href="{{external_link}}">Go to {{title}} (gitlab.com)</a><br>
    <a href="/">Go back</a>
  </nav>

  <h2>Summary</h2>

  <ul class="toc">
    {% for case in cases %}
    <li><a href="#{{case.id}}">{{case.name}} ({{case.steps_success}}/{{case.steps_total}})</a></li>
  {% endfor %}
  </ul>

  {% for case in cases %}
    <h2 id="{{case.id}}">{{case.name}} ({{case.steps_success}}/{{case.steps_total}})</h2>
    {% for step in case.steps %}
      <details>
        <summary {% if step.output == "" -%} class="details-empty" {%- endif -%} >{{step.name}} ({%- if step.success -%} success {%- else -%} fail {%- endif -%})</summary>
        <pre>
          <code>
            {{- step.output -}}
          </code>
        </pre>
      </details>
    {% endfor %}
  {% endfor %}

  <p>
    This page was generated at {{ generated }}.
  </p>
</main>
{% endblock %}
