{% extends "base.html" %}

{% block head %}
<style>
  td[title] {
    text-decoration: underline dashed red;
  }
</style>
{% endblock %}

{% block content %}
<main class="container">
  <h1>Spade Trawler statistics</h1>

  <p>
  Spade is an open source hardware description language developed at
  Linköping University. Even though we have several hundred test cases in
  the compiler repository, they are usually limited to testing if something
  compiles or not. We also want to check that <em>behaviour</em> doesn't
  change between versions, which is much more difficult to do in tests
  meant for quick iteration.
  </p>

  <p>
  Trawler is a project that builds, simulates and runs place-and-route on
  several real Spade projects. A trawl is run for every merge request in
  the

  <a href="https://gitlab.com/spade-lang/spade">spade-lang/spade-repository</a>,

  as well as every commit to the main branch. Unfortunately, the GitLab
  test case UI leaves a lot to be desired. This page collects statistics on
  trawls for an easier overview.
  </p>

  <h2>Open merge requests</h2>

  <table>
    <tr>
      <th>MR</th>
      <th>Title</th>
      <th>build</th>
      <th>test</th>
      <th>pnr</th>
      <th>Pipeline</th>
    </tr>

    {% for mr in mrs %}
    <tr>
      <td style="white-space: nowrap">
      <a href="https://gitlab.com/spade-lang/spade/-/merge_requests/{{mr.id}}">
          !{{mr.id}}
      </a>
      </td>
      {% if mr.error != "" %}
      <td title="{{mr.error}}">{{mr.title}}</td>
      {% else %}
      <td><a href="/mr-{{mr.id}}.html">{{mr.title}}</a></td>
      {% endif %}
      <td>{{mr.report.build}}</td>
      <td>{{mr.report.test}}</td>
      <td>{{mr.report.pnr}}</td>
      <td style="white-space: nowrap">
      {% if mr.trawler == "-" %}
      {{mr.trawler}}
      {% else %}
      <a href="https://gitlab.com/spade-lang/trawler/-/pipelines/{{mr.trawler}}">{{mr.trawler}}</a> {% if mr.trawler_date != "" %}({{mr.trawler_date}}) {% endif %}
      {% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>

  <h2>Latest commits on main</h2>

  <table>
    <tr>
      <th>Title</th>
      <th>build</th>
      <th>test</th>
      <th>pnr</th>
      <th>Pipeline</th>
    </tr>
    {% for commit in commits %}
    <tr>
      {% if commit.error != "" %}
      <td title="{{commit.error}}">{{commit.title}}</td>
      {% else %}
      <td><a href="/commit-{{commit.sha}}.html">{{commit.title}}</a></td>
      {% endif %}
      <td>{{commit.report.build}}</td>
      <td>{{commit.report.test}}</td>
      <td>{{commit.report.pnr}}</td>
      <td style="white-space: nowrap">
      {% if commit.trawler == "-" %}
      {{commit.trawler}}
      {% else %}
      <a href="https://gitlab.com/spade-lang/trawler/-/pipelines/{{commit.trawler}}">{{commit.trawler}}</a> {% if commit.trawler_date != "" %}({{commit.trawler_date}}) {% endif %}
      {% endif %}
      </td>
    </tr>
    {% endfor %}

  </table>

  <p>
  Links and references:
  </p>

  <ul>
    <li>
      <a href="https://gitlab.com/spade-lang/trawler-statistics">
        GitLab repository for this website
      </a>
    </li>
    <li>
      <a href="https://gitlab.com/spade-lang/trawler">
        GitLab repository for trawler
      </a>
    </li>
    <li>
      <a href="https://spade-lang.org">spade-lang.org</a>
    </li>
  </ul>

  <p>
  This page was generated at {{ generated }}.
  </p>
</main>
{% endblock %}
